<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменить пользователя</title>
</head>
<body>
<h1>Введите данные для редактирования</h1>
<br>
<form th:method="PATCH" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Имя</label>
    <input  type="text" th:field="*{name}" id="name">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>

    <label for="lastName">Фамилия</label>
    <input  type="text" th:field="*{lastName}" id="lastName">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <br/>

    <label for="age">Возраст:</label>
    <input  type="text" th:field="*{age}" id="age">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>

    <label for="email"> Email</label>
    <input  type="text" th:field="*{email}" id="email">
    <br>
    <span class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>

    <input type="submit" value="Изменить пользователя"/>
</form>
</body>
</html>