<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<h1>Пользователь</h1>
<br>
<p th:text="${user.getId()}">Id</p>
<p th:text="${user.getName()}">Имя</p>
<p th:text="${user.getLastName()}">Фамилия</p>
<p th:text="${user.getAge()}">Возраст</p>
<p th:text="${user.getEmail()}">Email</p>
<form th:method="GET" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Изменить">
</form>
<br>
<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>